<% if session[:user_id] == nil %>
    <h1>Yoga Fails</h1>

    <% @fails.each do |fail| %>

        <div class="home_image">
            <div><%= fail.title %></div>
            <a href="/fails/<%=fail.id %>"> <img src="<%= fail.image_url %>" alt="<%= fail.title %>"></a>
        </div>

    <% end %>
<% else %>

    <a href="/fails/new">post new Yoga Fail</a>

    <h1>Yoga Fails</h1>

    <% @fails.each do |fail| %>

        <div class="home_image">
            <%  %>
            <div><%= fail.title %></div>
            <a href="/fails/<%=fail.id %>"> <img src="<%= fail.image_url %>" alt="<%= fail.title %>"></a>
        </div>
    
    <% end %>

<% end %>

